language: php

php:
  - 7.0
  - 7.1
  - 7.2
  - hhvm
  - nightly

matrix:
  allow_failures:
    - php: hhvm

before_script:
  - composer install

script:
  - vendor/bin/phpcs --standard=psr2 src/
  - vendor/bin/phpunit --coverage-text
  - vendor/bin/psalm
